* {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
html {
    height: -webkit-fill-available;
}
body {
    /* display: flex; */
    /* max-width: 1440px; */
    height: 100svh;
    height: -webkit-fill-available;
    background-color: #fff;
    overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

::-moz-selection {
    /* Code for Firefox */
    background: #0055ff;
}

::selection {
    background: #0055ff;
}

/* FORM CONTROL FOCUS */
.form-control:focus {
    border-color: #0055ff;
    box-shadow: 0 0 0 0.2rem rgba(0, 85, 255, 0.35);
}

/* Login Page */
.background {
    background-image: url(/assets/img/background/Pattern_Light.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000000;
}

/* Back to Top */
#btn-back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 75px;
    width: 75px;
    font-size: 23px;
    border-radius: 50%;
    /* box-shadow: 2px 2px 3px #353535; */
    background-color: #0055ff;
    border: 0px;
}
/* Whatsapp */
#whatsapp {
    position: fixed;
    bottom: 30px;
    left: 30px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    /* box-shadow: 2px 2px 3px #353535; */
    background-color: #25d366;
    border: 0px;
}
/* Offcanvas */
#offcanvas {
    position: fixed;
    bottom: 50%;
    right: -50px;
    height: 100px;
    width: 100px;
    padding-right: 50px;
    border-radius: 50%;
    /* box-shadow: 2px 2px 3px #353535; */
    z-index: 10;
    background-color: #0055ff;
    border: 0px;
}
@media (max-width: 768px) {
    #btn-back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        height: 50px;
        width: 50px;
        font-size: 10px;
        border-radius: 50%;
        /* box-shadow: 2px 2px 3px #353535; */
        background-color: #0055ff;
        border: 0px;
    }
    #whatsapp {
        position: fixed;
        bottom: 20px;
        left: 20px;
        height: 50px;
        width: 50px;
        font-size: 11px;
        border-radius: 50%;
        /* box-shadow: 2px 2px 3px #353535; */
        background-color: #25d366;
        border: 0px;
    }
}

.line {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}
.line span {
    background: #fff;
    padding: 0 10px;
}
